<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calmresponse.mapper.FlightMapper">

    <resultMap id="BaseResultMap" type="com.calmresponse.model.domain.Flight">
            <id property="id" column="id" />
            <result property="flightNumber" column="flight_number" />
            <result property="aircraftModel" column="aircraft_model" />
            <result property="seatLayout" column="seat_layout" />
            <result property="departureCity" column="departure_city" />
            <result property="arrivalCity" column="arrival_city" />
            <result property="departureTime" column="departure_time" />
            <result property="arrivalTime" column="arrival_time" />
            <result property="price" column="price" />
            <result property="totalSeats" column="total_seats" />
            <result property="remainingSeats" column="remaining_seats" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="airline" column="airline" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,flight_number,aircraft_model,seat_layout,departure_city,arrival_city,
        departure_time,arrival_time,price,total_seats,remaining_seats,
        create_time,update_time,airline,is_delete
    </sql>
</mapper>
